<!-- Semester: 2023A
Assessment: Assignment 2
Author: 
    To Bao Minh Hoang: s3978554
    Le Viet Bao: s3979654
    Huynh Ngoc Giang My: s3978986
    Luu van Thien Toan: s3979512
    Pho An Ninh: s3978162
Acknowledgement: https://youtube.com/watch?v=991fdnSllcw&feature=share - live search bar, chatgpt, Mr Tom Huynh's RMIT Store -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Petly.co</title>
    
    <!-- Favicon -->
    <link rel="icon" href="/images/favicon.svg" type="image/svg+xml" />

    <!-- js script to delete -->
    <script src="/js/main.js" defer></script> 


    <!-- CSS stylesheets -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin-style.css">
</head>

<body>