<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/public/css/styles.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Nunito+Sans:wght@400;700&display=swap"
    rel="stylesheet">

</head>

<body>
    <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <button class="nav-toggle-btn" aria-label="toggle manu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true" class="menu-icon"></ion-icon>
        <ion-icon name="close-outline" aria-label="true" class="close-icon"></ion-icon>
      </button>

      <a href="#" class="logo">Petly</a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="#home" class="navbar-link" data-nav-link>Home</a>
          </li>

          <li class="navbar-item">
            <a href="#shop" class="navbar-link" data-nav-link>Shop</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link" data-nav-link>Admin</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link" data-nav-link>Update Items</a>
          </li>

          <li class="navbar-item">
            <a href="admin-page.html" class="navbar-link" data-nav-link>Orders</a>
          </li>

        </ul>

        <a href="#" class="navbar-action-btn">Log In</a>
      </nav>

      <div class="header-actions">

        <button class="action-btn" aria-label="Search">
          <ion-icon name="search-outline" aria-hidden="true"></ion-icon>
        </button>

        <button class="action-btn user" aria-label="User">
          <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
        </button>

      </div>

    </div>
  </header>


<!-- FORM THAT ADDS NEW PRODUCTS TO PAGE-->

  <section class="add-product">
    
    <h1 class="heading">Add Products</h1>

    <form action="" method="POST" enctype="multipart/form-data">
      <div class="flex">
        <div class="inputBox">
          <span>Product name(required)</span>
          <input type="text" required placeholder="enter the product name" name="name" maxlength="100" class="box">
        </div>

        <div class="inputBox">
          <span>Product price(required)</span>
          <input type="number" min="0" max="99999999999" required placeholder="enter the price" name="price" onkeypress="if(this.value.length == 10) return false; "class="box">
        </div>

        <div class="inputBox">
          <span>Image 1 (required)</span>
          <input type="file" name="image_1" class="box" accept="image/jpg, image/jpeg, image/png, image/webp" required>
        </div>

        <div class="inputBox">
          <span>Image 2 (required)</span>
          <input type="file" name="image_2" class="box" accept="image/jpg, image/jpeg, image/png, image/webp" required>
        </div>

        <div class="inputBox">
          <span>Image 3 (required)</span>
          <input type="file" name="image_3" class="box" accept="image/jpg, image/jpeg, image/png, image/webp" required>
        </div>

        <div class="inputBox">
          <span>Product details</span>
          <textarea name="details" class="box" placeholder="enter product detail" required maxlength="500" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="add product" name="add_product" class="admin-btn">
      </div>

    </form>

  </section>


  <span class="admin-heading">Products</span>

  <section class="show-products">

    <div class="box-container">
      <div class="box">
        <img src="assets/images/product-1.jpg" alt="Product 1">
        <div class="name"> Item number One</div>
        <div class="price"> 100 Dollarie doos</div>
        <div class="details"> This is a random fact about whales: They are very fat, like yo mama</div>
        <div class="flex-btn">
            <a href="#" class="update-btn">update</a>
            <a href="#" class="delete-btn" onclick="return confirm('delete this product?');">delete</a>
        </div>
      </div>
    </div>

    <div class="box-container">
      <div class="box">
        <img src="assets/images/product-1.jpg" alt="Product 1">
        <div class="name"> Item number One</div>
        <div class="price"> 100 Dollarie doos</div>
        <div class="details"> This is a random fact about whales: They are very fat, like yo mama</div>
        <div class="flex-btn">
            <a href="#" class="update-btn">update</a>
            <a href="#" class="delete-btn" onclick="return confirm('delete this product?');">delete</a>
        </div>
      </div>
    </div>

    <div class="box-container">
      <div class="box">
        <img src="assets/images/product-1.jpg" alt="Product 1">
        <div class="name"> Item number One</div>
        <div class="price"> 100 Dollarie doos</div>
        <div class="details"> This is a random fact about whales: They are very fat, like yo mama</div>
        <div class="flex-btn">
            <a href="#" class="update-btn">update</a>
            <a href="#" class="delete-btn" onclick="return confirm('delete this product?');">delete</a>
        </div>
      </div>
    </div>

        <div class="box-container">
      <div class="box">
        <img src="assets/images/product-1.jpg" alt="Product 1">
        <div class="name"> Item number One</div>
        <div class="price"> 100 Dollarie doos</div>
        <div class="details"> This is a random fact about whales: They are very fat, like yo mama</div>
        <div class="flex-btn">
            <a href="#" class="update-btn">update</a>
            <a href="#" class="delete-btn" onclick="return confirm('delete this product?');">delete</a>
        </div>
      </div>
    </div>
    
  </section>
  


  <!-- 
    - #FOOTER
  -->

  <footer class="footer" style="background-image: url('./assets/images/footer-bg.jpg')">

    <div class="footer-top section">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">Petly</a>

          <p class="footer-text">
            If you have any question, please contact us at <a href="mailto:support@gmail.com"
              class="link">support@rmit.com</a>
          </p>

          <ul class="contact-list">

            <li class="contact-item">
              <ion-icon name="location-outline" aria-hidden="true"></ion-icon>

              <address class="address">
                The District 7, RMIT University 
              </address>
            </li>

            <li class="contact-item">
              <ion-icon name="call-outline" aria-hidden="true"></ion-icon>

              <a href="tel:+16234567891011" class="contact-link">(+84)-9999-99-9999</a>
            </li>

          </ul>

          <ul class="social-list">

            <li>
              <a href="http://www.facebook.com" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Corporate</p>
          </li>

          <li>
            <a href="#" class="footer-link">Careers</a>
          </li>

          <li>
            <a href="#" class="footer-link">About Us</a>
          </li>

          <li>
            <a href="#" class="footer-link">Contact Us</a>
          </li>

          <li>
            <a href="#" class="footer-link">FAQs</a>
          </li>

          <li>
            <a href="#" class="footer-link">Vendors</a>
          </li>

          <li>
            <a href="#" class="footer-link">Affiliate Program</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Information</p>
          </li>

          <li>
            <a href="#" class="footer-link">Online Store</a>
          </li>

          <li>
            <a href="#" class="footer-link">Privacy Policy</a>
          </li>

          <li>
            <a href="#" class="footer-link">Refund Policy</a>
          </li>

          <li>
            <a href="#" class="footer-link">Shipping Policy</a>
          </li>

          <li>
            <a href="#" class="footer-link">Terms of Service</a>
          </li>

          <li>
            <a href="#" class="footer-link">Track Order</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Services</p>
          </li>

          <li>
            <a href="#" class="footer-link">Grooming</a>
          </li>

          <li>
            <a href="#" class="footer-link">Positive Dog Training</a>
          </li>

          <li>
            <a href="#" class="footer-link">Veterinary Services</a>
          </li>

          <li>
            <a href="#" class="footer-link">Petco Insurance</a>
          </li>

          <li>
            <a href="#" class="footer-link">Pet Adoption</a>
          </li>

          <li>
            <a href="#" class="footer-link">Resource Center</a>
          </li>

        </ul>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2022 Made with ♥ by <a href="#" class="copyright-link">codewithsadee.</a>
        </p>

        <img src="./assets/images/payment.png" width="397" height="32" loading="lazy" alt="payment method" class="img">

      </div>
    </div>

  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>

  <!-- 
    - custom js link
  -->
  <script src="./assets/js/script.js" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>