<%- include ('partials/head') %>
<%- include ('partials/nav') %>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RMIT Store</title>
  <!-- Favicon -->
  <link rel="icon" href="/images/rmit-favicon.png" type="image/png" />
  <!-- js script to delete -->
  <script src="/js/main.js" defer></script> 


  <!-- CSS stylesheets -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/admin-style.css">
</head>

<body>
<!-- FORM THAT ADDS NEW PRODUCTS TO PAGE-->

  <section class="add-product">
    
    <h1 class="heading">Add Products</h1>

    <form action="" method="POST" enctype="multipart/form-data">
      <div class="flex">
        <div class="inputBox">
          <span>Product name(required)</span>
          <input type="text" required placeholder="enter the product name" name="name" maxlength="100" class="box">
        </div>

        <div class="inputBox">
          <span>Product price(required)</span>
          <input type="number" min="0" max="99999999999" required placeholder="enter the price" name="price" onkeypress="if(this.value.length == 10) return false; "class="box">
        </div>

        <div class="inputBox">
          <span>Image 1 (required)</span>
          <input type="file" name="image_1" class="box" accept="image/jpg, image/jpeg, image/png, image/webp" required>
        </div>

        <div class="inputBox">
          <span>Image 2 (required)</span>
          <input type="file" name="image_2" class="box" accept="image/jpg, image/jpeg, image/png, image/webp" required>
        </div>

        <div class="inputBox">
          <span>Image 3 (required)</span>
          <input type="file" name="image_3" class="box" accept="image/jpg, image/jpeg, image/png, image/webp" required>
        </div>

        <div class="inputBox">
          <span>Product details</span>
          <textarea name="details" class="box" placeholder="enter product detail" required maxlength="500" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="add product" name="add_product" class="admin-btn">
      </div>

    </form>

  </section>


  <span class="admin-heading">Products</span>

  <section class="show-products">

    <div class="box-container">
      <div class="box">
        <img src="assets/images/product-1.jpg" alt="Product 1">
        <div class="name"> Item number One</div>
        <div class="price"> 100 Dollarie doos</div>
        <div class="details"> This is a random fact about whales: They are very fat, like yo mama</div>
        <div class="flex-btn">
            <a href="#" class="update-btn">update</a>
            <a href="#" class="delete-btn" onclick="return confirm('delete this product?');">delete</a>
        </div>
      </div>
    </div>

    <div class="box-container">
      <div class="box">
        <img src="assets/images/product-1.jpg" alt="Product 1">
        <div class="name"> Item number One</div>
        <div class="price"> 100 Dollarie doos</div>
        <div class="details"> This is a random fact about whales: They are very fat, like yo mama</div>
        <div class="flex-btn">
            <a href="#" class="update-btn">update</a>
            <a href="#" class="delete-btn" onclick="return confirm('delete this product?');">delete</a>
        </div>
      </div>
    </div>

    <div class="box-container">
      <div class="box">
        <img src="assets/images/product-1.jpg" alt="Product 1">
        <div class="name"> Item number One</div>
        <div class="price"> 100 Dollarie doos</div>
        <div class="details"> This is a random fact about whales: They are very fat, like yo mama</div>
        <div class="flex-btn">
            <a href="#" class="update-btn">update</a>
            <a href="#" class="delete-btn" onclick="return confirm('delete this product?');">delete</a>
        </div>
      </div>
    </div>

        <div class="box-container">
      <div class="box">
        <img src="assets/images/product-1.jpg" alt="Product 1">
        <div class="name"> Item number One</div>
        <div class="price"> 100 Dollarie doos</div>
        <div class="details"> This is a random fact about whales: They are very fat, like yo mama</div>
        <div class="flex-btn">
            <a href="#" class="update-btn">update</a>
            <a href="#" class="delete-btn" onclick="return confirm('delete this product?');">delete</a>
        </div>
      </div>
    </div>
    
  </section>
  


  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>

  <!-- 
    - custom js link
  -->
  <script src="./assets/js/script.js" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>


<%- include ('partials/footer') %>