<%- include ('partials/head') %>

<main>
  <div class="add-product">
    <div class="heading"> Login </div>
    <% if (typeof errorMessage !== 'undefined') { %>
    <div class="alert alert-danger" role="alert">
      <%= errorMessage %>
    </div>
    <% } %>
      <form action="/login" method="POST">

        <div class="flex">
          <div class="inputBox">
            <span>Username<span>
            <input type="text" class="box" id="username" name="username" required>
          </div>
        </div>

        <div class="flex">
          <div class="inputBox">
            <span>Password</span>
            <input type="password" class="box" id="password" name="password" required>
          </div>
        </div>

        <div class="login-btn">
          <button type="submit" class="log-btn">Login</button>
          <button type="submit" class="sign-btn"><a href="/signup">Sign up</a></button>
        </div>
      </form>
  </div>
</main>


