<!-- Semester: 2023A
Assessment: Assignment 2
Author: 
    To Bao Minh Hoang: s3978554
    Le Viet Bao: s3979654
    Huynh Ngoc Giang My: s3978986
    Luu van Thien Toan: s3979512
    Pho An Ninh: s3978162
Acknowledgement: https://youtube.com/watch?v=991fdnSllcw&feature=share - live search bar, chatgpt, Mr Tom Huynh's RMIT Store -->

<form method="post" action="/placeOrder">
    <label>
      Name:
      <input type="text" name="customerName">
    </label>
    <label>
      Address:
      <input type="text" name="customerAddress">
    </label>
    <label>
      Phone:
      <input type="text" name="customerPhone">
    </label>
    <label>
      Distribution Hub:
      <select name="distributionHub">
        <option value="hanoi">Hanoi</option>
        <option value="hcm">Ho Chi Minh City</option>
        <option value="danang">Da Nang</option>
      </select>
    </label>
    <input type="submit" value="Place Order">
  </form>
  