<!-- Semester: 2023A
Assessment: Assignment 2
Author: 
    To Bao Minh Hoang: s3978554
    Le Viet Bao: s3979654
    Huynh Ngoc Giang My: s3978986
    Luu van Thien Toan: s3979512
Acknowledgement: https://youtube.com/watch?v=991fdnSllcw&feature=share - live search bar, chatgpt, Mr Tom Huynh's RMIT Store -->

<%- include ('partials/head') %>
<%- include ('partials/nav') %>

<main id="shipper_main">
  <div class="add-product">
    <form method="post" action="/placeOrder">
      <div class="flex">
        <div class="inputBox">
          <span>Name<span>
          <input type="text" class="box" id="username" name="customerName" required>
        </div>
      </div>
      <div class="flex">
        <div class="inputBox">
          <span>Address<span>
          <input type="text" class="box" id="username" name="customerAddress" required>
        </div>
      </div>
      <div class="flex">
        <div class="inputBox">
          <span>Name<span>
          <input type="text" class="box" id="username" name="customerPhone" required>
        </div>
      </div>
      <div class="flex">
        <div class="inputBox">
          <span>Distribution Hub<span>
          <select name="distributionHub" class="box">
            <option value="hanoi">Hanoi</option>
            <option value="hcm">Ho Chi Minh City</option>
            <option value="danang">Da Nang</option>
          </select>
        </div>
      </div>
      <input type="submit" value="Place Order" class="cart2-btn">
      </form>
  </div>
</main>
