<!-- Semester: 2023A
Assessment: Assignment 2
Author: 
    To Bao Minh Hoang: s3978554
    Le Viet Bao: s3979654
Acknowledgement: https://youtube.com/watch?v=991fdnSllcw&feature=share - live search bar, chatgpt, Mr Tom Huynh's RMIT Store -->

<h1>Search Results</h1>



<% if (products.length === 0) { %>
  <p>No products found for the search query.</p>
<% } else { %>
    <div id="searchResults"> 
        <ul>
            <% products.forEach((product) => { %>
            <li>
                <h3><%= product.name %></h3>
                <p><%= product.description %></p>
            </li>
            <% }) %>
        </ul>
    </div>
<% } %>
