
<%- include('partials/head') %>
<%- include('partials/nav') %>

    <main class="shipper_main">
      <div class="order_container">
        <div class="order_status">
          <p>Active order #1</p>
        </div>
        <div class="user_info_container">
          <div class="avatar_username_phonenum">
            <img src="assets/images/brand-3.jpg" alt="user_avatar">
            <div class="user_info">
              <!--username and phonenumber will be taken from the database-->
              <div class="user_name">
                <p>cock and ball destroyer</p>
              </div>
              <div class="phone_num">
                <p>0966666666</p>
              </div>
            </div>
          </div>
          <!--address will be taken from the database-->
          <div class="address_container">
            <p>Address: Testing testing testing testing</p>
          </div>
        </div>
        <!--Vendor name goes here-->
        <div class="vendor_name">
          <h3>Vendor:</h3>
          <p>Very generic bookstore</p>
        </div>
        <!--Products within the order-->
        <div class="product_list">
          <h3>Product list</h3>
          <ul>
            <li>test 1</li>
            <li>test 2</li>
            <li>test 3</li>
          </ul>
        </div>
        <!--Total price-->
        <div class="total_price">
            <h3>Total price: <span>999$</span></h3>
        </div>
        <!--users will press this when the order is complete-->
        <div class="buttons_container">
          <button class="cancle_btn">Cancel</button>
          <button class="finish_btn">Finish</button>
        </div>
      </div>
    </main>


    <%- include ('partials/footer') %>