<%- include ('partials/head') %>
<%- include ('partials/nav') %>

<div class="background-imagery">
  <div class="add-product">
    <div class="heading">Sign Up</div>
    <% if (typeof errorMessage !== 'undefined') { %>
    <div class="alert alert-danger" role="alert">
      <%= errorMessage %>
    </div>
    <% } %>
    <form action="/signup" method="POST">
      
      <div class="flex">
        <div class="inputBox">
          <span>Username</span>
          <input type="text" class="box" id="username" name="username" required>
        </div>
      </div>
      
      <div class="flex">
        <div class="inputBox">
          <span>Password</span>
          <input type="password" class="box" id="password" name="password" required>
        </div>
      </div>
      
      <div class="flex">
        <div class="inputBox">
          <span>Role</span>
          <select class="box" id="box" name="role" required>
            <option value="customer">Customer</option>
            <option value="vendor">Vendor</option>
          </select>
        </div>
      </div>
      
      <div class="login-btn">
        <button type="submit" class="log-btn">Sign Up</button>
      </div>
    </form>
  </div>
</div>

<%- include ('partials/footer') %>
